/*  */

body {
  background-color: #252b39;
  font-family: "Blinker", sans-serif;
  color: white;
}

/* Navigation */

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #525e65;
  opacity: 0.7;

  font-size: 1.5rem;
  border-radius: 25px;
}

.navbar > li {
  float: right;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

li a:hover {
  color: #9bffd0;
  animation-duration: 1s;
  animation-name: navblink;
  animation-iteration-count: infinite;
}

@keyframes navblink {
  from {
  }

  50% {
    padding-top: 0%;
  }

  to {
  }
}

/* home */

.titlesec {
  height: 500vh;
  font-variant: small-caps;
}

/* footer */

footer {
  height: 20vh;
  margin: 0;
  overflow: hidden;
  background-color: #525e65;
  opacity: 0.7;

  font-size: 1.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;

  text-decoration: none;
}
