html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(0deg, #24a4c4, black);

  font-family: "Special Elite", cursive;
  color: white;
}

/* Rocket */

#rocket {
  height: 60vh;
  bottom: 0;
  position: fixed;
  margin-left: 5vh;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  /* animation-delay: 2s; */
}

@keyframes slidein {
  from {
    bottom: -100vh;
  }

  to {
    bottom: 0;
  }
}

#rocket-img {
  height: 50%;
  width: 50%;
  margin-left: auto;
  animation-name: turbo;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}

@keyframes turbo {
  from {
    padding-left: 0vw;
  }

  to {
    margin-top: 1vh;
    padding-left: 1.5vw;
  }
}
/* Navigation */

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #525e65;
  opacity: 0.7;

  font-size: 1.5rem;
  border-radius: 25px;
}

.navbar > li {
  float: left;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

li a:hover {
  color: #9bffd0;
  animation-duration: 1s;
  animation-name: navblink;
  animation-iteration-count: infinite;
}

@keyframes navblink {
  from {
  }

  50% {
    padding-top: 0%;
  }

  to {
  }
}

/* home */

.home {
  height: 100vh;
  margin-right: 0;
  margin-left: auto;
  width: 70vw;
  padding-top: 42vh;
  padding-right: 8vw;
  padding-left: 20vw;
}

h2 {
  font-variant: small-caps;
}

/* about */

.about {
  height: 120vh;
  margin-right: 0;
  margin-left: auto;
  width: 70vw;
  padding-top: 20vh;
  padding-right: 8vw;
  padding-left: 20vw;
  display: flex;
}

.about-img {
  width: 60%;
  height: auto;
  border-radius: 40%;
  margin-top: 20vh;
  margin-left: 2vw;
  opacity: 0.7;
  border: 3px solid white;
}

.about-img:hover {
  opacity: 1;
}

.about-content {
  width: 50vw;
  padding-top: 10vh;
  overflow: auto;
}

/* service */

.service {
  height: 120vh;
}

/* contact  */

.contact {
  height: 120vh;
  background-image: url(/ulrichschulzendorf.github.io/img/stars.png);
}

/* footer */

footer {
  height: 60vh;
  width: 60vh;
  margin-left: 50%;
  margin-top: -15%;
  overflow: hidden;
  background-color: rgb(63, 63, 58);
  text-align: center;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-decoration: none;
  box-shadow: 0.5rem 0rem 0.5rem whitesmoke;
}

#stars {
  background-image: url(/ulrichschulzendorf.github.io/img/stars.png);
}
